<!DOCTYPE html>
<html>
<head>
    <title>WASD Controller</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 50px;
            background-color: black;
            color: white;
        }
        .key {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            border: 1px solid #ccc;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>WASD Controller</h1>
    <div id="controller">
        <button class="key" data-key="w">W</button><br>
        <button class="key" data-key="a">A</button>
        <button class="key" data-key="s">S</button>
        <button class="key" data-key="d">D</button>
    </div>
    <button onclick="location.href='/xbox'" class="btn btn-primary">Go to Xbox Controller</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
